* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
    font-size: 8vh;
	color: white;
}

#dom {
	color: #444;
	font-size: 85vh;
}

.hand {
    position: absolute;
    left: calc(50vw - 2.5vh);
    top: 0;
	width: 5vh;
    height: 50vh;
    /* border-radius: 5vh; */
    transform-origin: 2.5vh calc(50vh - 2.5vh);
    background: red;
    
    /* sadness: these aren't supported */
    /* backdrop-filter: grayscale(1) brightness(5); */
    /* mix-blend-mode: lighten; */
}

#hand-hour {
    top: 25vh;
    height: 25vh;
    transform-origin: 2.5vh calc(25vh - 2.5vh);
}

#hand-minute {
	height: 25vh;
}

#hand-second {
	height: 5vh;
    border-radius: 5vh;
}

.center {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
}

#text > div {
	display: flex;
}

.icon {
	height: 8vh;
}